body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    overflow: hidden; /* Verhindert Scrollen */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs-container {
    position: relative;
    margin: 20px 0;
}

.tabs {
    display: flex;
    justify-content: space-between;
    background-color: transparent; /* Transparente Hintergrundfarbe */
    border: 2px solid #ffffff; /* Weiße Randfarbe */
    border-radius: 50px; /* Pille-Form */
    overflow: hidden; /* Rundung nicht anzeigen */
    height: 40px; /* Höhe für die Pille */
}

.tab-button {
    flex: 1;
    padding: 10px;
    background-color: transparent; /* Transparente Hintergrundfarbe */
    color: #ffffff;
    cursor: pointer;
    border: none; /* Kein Rand */
    transition: color 0.3s;
    position: relative; /* Für den Slider */
    z-index: 1; /* Über dem Slider */
}

.tab-button.active {
    color: #121212; /* Dunkle Schriftfarbe für aktiven Tab */
}

.tab-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%; /* Größe des Sliders */
    height: 100%;
    background-color: #ffffff; /* Hintergrundfarbe des aktiven Tabs */
    transition: left 0.3s; /* Animation beim Wechsel */
    z-index: 0; /* Unter dem Tab-Text */
    border-radius: 50px; /* Rundung für die Pille */
}

.song-list, .not-found-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Scrollen innerhalb der Liste erlauben */
    height: calc(90vh - 140px); /* Höhe anpassen */
}

.song-item, .not-found-item {
    background-color: #1f1f1f;
    border-radius: 16px; /* Stärkere Abrundung */
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Vertikale Ausrichtung */
    justify-content: flex-start; /* Links ausrichten */
}

.cover {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 15px;
}

.hidden {
    display: none;
}

.song-info {
    display: flex;
    flex-direction: column; /* Vertikale Anordnung für Titel und Künstler */
    margin-left: 5px; /* Kleinere Abstände zwischen Titel und Künstler */
}

.song-info strong {
    margin-bottom: 2px; /* Geringerer Abstand zwischen Titel und Künstler */
}